*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  height: 100vh;
}

.quote-container{
  background-color: bisque;
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#btn {
  padding: 15px 20px;
  font-size: 1.5em;
  border: none;
  background-color: brown;
  color: white;
  border: 2px solid white;
  margin-bottom: 20px;
  flex-basis: auto;
}

#quote {
  font-size: 2em;
  font-weight: 500;
  color: rgb(109, 108, 108);
  margin-bottom: 20px;
  flex-basis: auto;
}

#author{
  align-self: flex-end;
  color: brown;
  font-weight: bold;
  font-size: 1.5em;
  flex-basis: auto;
}